/* cssreset */
*{margin:0;padding: 0;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,input,textarea,th,td,select{margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,em,strong{font-weight: normal;font-size: 12px;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration:none;}
button{border: none;outline: none;}
img{border:none;vertical-align: top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{resize:none;overflow: auto;}
body{font-size: 12px;font-family: "微软雅黑";background: #fff;}

/* 公共样式 */
.clearfix:after{content: '.';display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;}
.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}

/*整体布局*/
#parent{height: 2000px;background: green;}
#fixed{position: fixed;left: 0;bottom: 0;right: 0;height: 100px;background: red;}




* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
* html .fixed-top/* IE6 头部固定 */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));}
* html .fixed-right/* IE6 右侧固定 */{position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));}
* html .fixed-bottom/* IE6 底部固定  */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
* html .fixed-left/* IE6 左侧固定 */{position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft));}
