/* cssreset */
*{margin:0;padding: 0;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,input,textarea,th,td,select{margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,em,strong{font-weight: normal;font-size: 12px;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration:none;}
button{border: none;outline: none;}
img{border:none;vertical-align: top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
input{border: none;}
textarea{resize:none;overflow: auto;}
/*body{font-size: 12px;font-family: "微软雅黑";background: #F5F5F5;}*/
body{font-size: 12px;font-family: Arial, Helvetica, sans-serif;background: #F5F5F5;}



/* 公共样式 */
.clearfix:after{content: '.';display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;}
.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}

.gradient{
    background: -webkit-linear-gradient(top,#fefefe,#f1f1f1);
    background: -moz-linear-gradient(top,#fefefe,#f1f1f1);
    background: -ms-linear-gradient(top,#fefefe,#f1f1f1);
    +background:#f9f9f9;
}

.t-hide{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

/*整体布局*/
html,body{height: 100%;overflow: hidden;}
#parent{position: absolute;top: 0;left: 0;right: 0;overflow: auto;overflow-x: hidden;height: 100%;}
#g-header{height: 104px;background: url(../img/header.png) repeat-x;}
#g-banner{height: 336px;}
#g-content{}
#g-footer{height: 126px;}
#g-player{height: 65px;position: fixed;left: 0;bottom: 0;width: 100%;z-index: 1000;}

/*宽度整体布局*/
#g-header,#g-banner,#g-content,#g-footer,#g-player{min-width: 982px;}
.m-top,.m-btm,.m-ban,.m-foot{width: 982px;margin: 0 auto;}
.m-con{width: 980px;margin: 0 auto;}

/*********************************以下是头部样式 g-header*********************************/
#g-header{position: absolute;top: 0;left: 0;right: 0;}
.m-top{height: 70px;}
.m-top h1{width: 175px;background: url(../img/header.png) no-repeat 0 -120px;float: left;}
.m-top h1 a{display: block;width: 175px;height: 70px;text-indent: -99999px;}


.m-nav{float: left;height: 70px;}
.m-nav li{float: left;height: 70px;background: url(../img/header.png) no-repeat left -280px;margin-left: -2px;position: relative;}
.m-nav li a{display: block;height: 66px;line-height: 70px;font-size: 14px;text-shadow: 0 1px 0 #1b1b1b;padding: 4px 21px 0 19px;color: #ccc;background: url(../img/header.png) no-repeat right -280px;}
/*.m-nav li sub{position: absolute;left: 50%;bottom:-1px;margin-left: -7px;width: 14px;height: 9px;background: url(../img/header.png) no-repeat 0 -390px;}*/
.m-nav .first{background-position:-300px 0;}
.m-nav .last a{background-position:-300px 0;padding-right: 40px;}
.m-nav .hot{display: block;width: 26px;height: 19px;position: absolute;background: url(../img/header.png) no-repeat 0 -360px;top:23px;left: 90px;}

.m-nav .active{background-position: 0 -200px;z-index: 2;}
.m-nav .active a{background-position: right -360px;}
.m-nav .active sub{position: absolute;left: 50%;bottom:-1px;margin-left: -7px;width: 14px;height: 9px;background: url(../img/header.png) no-repeat 0 -390px;}

.m-nav .hover{background-position: 0 -440px;z-index: 2;}
.m-nav .hover a{background-position: right -520px;}

.m-search{width: 210px;height: 31px;margin-left: 5px;margin-top: 21px;float: left;background: url(../img/header.png) no-repeat 0 -600px;position: relative;}
.m-search input{width: 159px;height: 15px;position: absolute;top:8px;left: 33px;background: #eaeaea;color: #333;line-height: 15px;}
.m-search label{position: absolute;top:8px;left: 33px;z-index: 2;color: #9b9b9b;cursor: text;}

.m-login{float: right;padding-right: 18px;margin-left: 15px;margin-top: 31px;background: url(../img/header.png) no-repeat right -640px;cursor: pointer;}
.m-login:hover{background-position: right -675px;}
.m-login:hover  a{color: #999;}
.m-login a{color: #787878;display: block;height: 15px;}

.m-btm{height: 34px;position: relative;}
.m-btm ul{margin-left: 178px;}
.m-btm li{float: left;margin: 0 17px;}
.m-btm li a{display: block;padding: 0 14px;height: 34px;line-height: 34px;color: #fff;}

.m-btm li:hover{background: url(../img/header.png) no-repeat 0 -724px;}
.m-btm li a:hover{background: url(../img/header.png) no-repeat right -758px;}

.m-btm .active{background: url(../img/header.png) no-repeat 0 -724px;}
.m-btm .active a{background: url(../img/header.png) no-repeat right -758px;}
/*********************************以上是头部样式 g-header*********************************/


/*********************************以下是轮播样式 g-banner*********************************/
#g-banner{padding-top: 104px;background: #100805;}
.m-ban{position: relative;}

.m-img{position: relative;width: 729px;height: 336px;}
.m-img .img{position: absolute;left: 0;top:0;}
.m-img .img a{display: block;}
.m-img .img img{width: 729px;height: 336px;opacity: 1;filter:alpha(opacity=100);}

.m-img .dots{position: absolute;bottom: 13px;left: 50%;height:9px;}
.m-img .dots .wrap{margin-left: -50%;}
.m-img .dots i{display: block;float: left;width: 9px;height: 9px;background: #808080;border-radius: 50%;margin: 0 6px;cursor: pointer;}
.m-img .dots .hover{background: #ff0000;}

.m-down{position: absolute;top:0;right: -1px;width: 254px;height: 336px;background: url(../img/download.png) no-repeat;}
.m-down a{display: block;width: 215px;height: 56px;margin: 212px 0 0 19px;text-indent: -9999px;}
.m-down a:hover{background: url(../img/download.png) no-repeat 0 -340px;}
.m-down p{color: #8d8d8d;margin: 10px auto;text-align: center;}

.m-lr a{width: 37px;height: 63px;display: block;position: absolute;top:137px;background: red;background: url(../img/m-lr.png) no-repeat;}
.m-lr .left{left: -60px;}
.m-lr .left:hover{background-position: 0 -140px;}
.m-lr .right{right:-60px;background-position: 0 -70px;}
.m-lr .right:hover{background-position: 0 -220px;}
/*********************************以下是轮播样式 g-banner*********************************/

/*********************************以下是内容区样式 g-content*********************************/
.m-con{border: 1px solid #d3d3d3;border-width: 0 1px;background: #fff;position: relative;}
.main{width: 729px;float: left;border-right: 1px solid #d3d3d3;}
.side{width: 250px;float: right;}


/***************右侧样式 下***************/
.m-mylogin{height: 126px;background: url(../img/content.png) no-repeat;}
.m-mylogin p{width: 205px;margin: 0 auto;padding: 16px 0;line-height: 22px;color: #666;}
.m-mylogin a{display: block;width: 100px;height: 31px;line-height: 31px;text-align: center;margin: 0 auto;text-shadow: 0 1px 0 #8a060b;color: #fff;background: url(../img/content.png) no-repeat 0 -130px;}
.m-mylogin a:hover{background-position: -110px -130px;}

/*右侧列表公共样式*/
.s-list{width: 210px;margin: 0 auto;}
.s-list h4,.s-list p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.m-singer{margin-top: 15px;}
.title-r{height: 23px;border-bottom: 1px solid #ccc;}
.title-r h3{float: left;color: #333;font-weight: bold;}
.title-r a{float: right;color: #666;}
.m-singer ul{margin-top: 20px;}
.m-singer ul li{background: #fafafa;cursor: pointer;margin-bottom: 14px;height: 62px;}
.m-singer ul li:hover{background:#F4F4F4;}
.m-singer ul a{display: block;height: 62px;}
.m-singer ul a div{float: left;}
.m-singer .head,.m-singer .head img{width: 62px;height: 62px;}
.m-singer .info{padding-left: 14px;width: 133px;height: 60px;border: 1px solid #e9e9e9;border-left: none;}
.m-singer .info h4{color: #333;font-weight: bold;font-size: 14px;padding-top: 8px;}
.m-singer .info p{color: #666;padding-top: 8px;width: 90%;}
.m-singer .btn-bcm{display: block;height: 31px;font-weight: bold;color: #333;line-height: 31px;text-align: center;border: 1px solid #c4c4c4;border-radius: 2px;box-shadow: 0 1px #e5e5e5;}
.m-singer .btn-bcm:hover{background: #fcfcfc;border-color: #D8D7D7;}

.m-dj{margin-top: 30px;}
.m-dj ul{margin-top: 20px;}
.m-dj ul li{margin-bottom: 7px;height: 43px;}
.m-dj .head,.m-dj .head img{width: 40px;height: 40px;}
.m-dj .head{display: block;float: left;}
.m-dj .info{float: left;margin-left: 10px;width: 160px;}
.m-dj .info h4{height: 22px;line-height: 22px;}
.m-dj .info a{color: #000;padding-right: 3px;}
.m-dj .info a:hover{text-decoration: underline;}
.m-dj .info sub{display: inline-block;zoom: 1;width: 11px;height: 12px;background: url(../img/content.png) no-repeat 0 -170px;}
.m-dj .info p{color: #666;height: 21px;line-height: 21px;}
/***************右侧样式 上***************/

/***************左侧样式 下***************/
.w-main{padding: 20px 20px 40px;overflow: hidden;}

/*左侧公共样式*/
.title-l{height: 33px;padding-right: 10px;color: #666;border-bottom: 2px solid #C10D0C;line-height: 33px;}
.title-l a{color: #666;}
.title-l a:hover{text-decoration: underline;}
.title-l h2{padding-left: 34px;float: left;background: url(../img/content.png) no-repeat -100px -170px;}
.title-l h2 a{font-size: 20px;line-height: 28px;font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;color: #333;}
.title-l h2 a:hover{text-decoration:none;}
.title-l .tab{margin-left: 20px;float: left;}
.title-l .tab span{margin: 0 10px;color: #ccc;}
.title-l .more{float: right;}
.title-l .more i{width: 12px;height: 12px;display: inline-block;zoom: 1;background: url(../img/content.png) no-repeat right -130px;vertical-align: middle;}

/*专辑列表公共样式*/
.album{margin-top: 20px;margin-left: -42px;}
.album li{width: 140px;height: 204px;padding:0 0 30px 42px;float: left;}
.album .cover{position: relative;}
.album .cover .coimg{display: block;width: 140px;height: 140px;}
.album .cover img{width: 140px;height: 140px;}
.album .cover .fo{position: absolute;left: 0;bottom: 0;width: 140px;height: 27px;color: #ccc;background: rgba(0,0,0,0.5);}
@media \0screen\,screen\9{.album .cover .fo{background: #000000;}}  /*IE678*/
.album .cover .fo i{width: 14px;height: 11px;float: left;margin: 9px 5px 9px 10px;background: url(../img/content.png) no-repeat 0 -190px;}
.album .cover .fo span{float: left;margin: 7px 0 0 0;}
.album .cover .fo a{float: right;width: 16px;height: 17px;background: url(../img/content.png) no-repeat 0 -210px;margin: 5px 10px 0 0;}
.album .cover .fo a:hover{background-position: -20px -210px;}
.album .desc{margin: 8px 0 3px;font-size: 14px;}
.album .desc a{display: block;color: #333;line-height: 19px;max-width: 100%;}
.album .desc a i{display: inline-block;zoom:1;width: 35px;height: 15px;margin-right: 3px;background: url(../img/content.png) no-repeat -40px -210px;vertical-align: middle;margin-top: -3px;}
.album .desc a:hover{text-decoration: underline;}

.m-pers .album li{height: 210px;}
.m-pers .idv{margin-top: 3px;color: #999;line-height: 16px;}

.m-date .coimg{background: url(../img/date.png) no-repeat;}
.m-date .coimg span{display: block;height: 33px;line-height: 33px;text-align: center;font-size: 14px;color: #fed9d9;}
.m-date .coimg p{height: 107px;position: relative;}
.m-date .coimg p em{display:block;height: 107px;color: #202020;font-size: 94px;text-align: center;line-height: 107px;font-weight: bold;}
.m-date .coimg p .shade{position: absolute;width: 140px;height: 107px;left: 0;top: 0;background: url(../img/date.png) no-repeat 0 -150px;}

/***************左侧样式 上***************/

/***************以下是广告样式***************/
.m-gg{margin-bottom: 40px;}
.m-gg a{display: block;}
.m-gg a img{width: 689px;height: 75px;}
/***************以上是广告样式***************/

/***************以下是新碟上架样式***************/
.m-disk{height: 186px;margin: 20px 0 37px;border: 1px solid #d3d3d3;background: #f5f5f5;}
.m-disk .inner{border: 1px solid #fff;position: relative;width: 687px;height: 184px;}
.m-disk .inner .lf,.m-disk .inner .rt{position: absolute;top: 75px;width: 8px;height: 14px;background: url(../img/content.png) no-repeat;}
.m-disk .inner .lf{left: 8px;background-position: 0 -230px}
.m-disk .inner .lf:hover{background-position: -20px -230px;}
.m-disk .inner .rt{right:8px;background-position: -40px -230px;}
.m-disk .inner .rt:hover{background-position: -60px -230px;}

.m-roll{width: 645px;height: 150px;margin: 30px 0 0 16px;position: relative;overflow: hidden;}
.m-roll ul{width: 645px;height: 150px;position: absolute;left: 645px;top:0;}
.m-roll .active{left: 0;}
.m-roll ul li{margin-left: 11px;width: 118px;height: 150px;float: left;}
.m-roll .cover2{position: relative;width: 118px;height: 100px;background: url(../img/content.png) no-repeat 0 -250px;margin-bottom: 7px;}
.m-roll .cover2 .shade{position: absolute;left: 0;top: 0;width: 118px;height: 100px;}
.m-roll .cover2:hover .pl{display: block;}
.m-roll .cover2 .pl{display: none;width: 22px;height: 22px;background:  url(../img/content.png) no-repeat 0 -360px;position: absolute;bottom: 5px;right: 28px;}
.m-roll .tit,.m-roll .au{width: 90%;}
.m-roll .tit a{color: #000;line-height: 18px;}
.m-roll .au a{color: #666;line-height: 18px;}
.m-roll .tit a:hover,.m-roll .au a:hover{text-decoration: underline;}

/***************以上是新碟上架样式***************/

/***************以下是新碟上架样式***************/
.m-rank .bill{margin-top: 20px;width: 688px;height: 472px;padding-left: 1px;background: url(../img/bill.png) no-repeat;}
.m-rank .bill dl{width: 230px;height: 472px;float: left;}
.m-rank .bill .lst{width: 228px;}
.m-rank .bill dt{padding: 20px 0 0 19px;height: 100px;}
.m-rank .bill .lcov,.m-rank .bill .rtit{float: left;}
.m-rank .bill .lcov img{width: 80px;height: 80px;}
.m-rank .bill .rtit{margin: 6px 0 0 10px;}
.m-rank .bill .h3{display: block;color: #333;margin-bottom: 10px;width: 100%;}
.m-rank .bill .h3:hover{text-decoration: underline;}
.m-rank .bill .h3 h3{font-size: 14px;cursor: pointer;font-weight: bold;}
.m-rank .bill .bf,.m-rank .bill .sc{width: 22px;height: 22px;display: inline-block;zoom:1;margin-right: 10px;background: url(../img/content.png) no-repeat;}
.m-rank .bill .bf{background-position: 0 -400px;}
.m-rank .bill .bf:hover{background-position: 0 -430px;}
.m-rank .bill .sc{background-position: -33px -400px;}
.m-rank .bill .sc:hover{background-position: -33px -430px;}

.m-list{padding-left: 50px;height: 320px;}
.m-list li{height: 32px;line-height: 32px;}
.m-list li span{float: left;width: 35px;height: 32px;margin-left: -35px;text-align: center;color: #666;font-size: 16px;vertical-align: middle;}
.m-list .r{color: #c10d0c;}
.m-list li .ti{color: #000;float: left;}
.m-list li .ti:hover{text-decoration: underline;}
.m-list .icon{float: right;margin-top: 7px;display: none;}
.m-list .ic1,.m-list .ic2{float: right;width: 17px;height:17px;margin-right: 10px;background: url(../img/content.png) no-repeat;}
.m-list .ic1{background-position:  0 -460px;}
.m-list .ic1:hover{background-position: 0 -480px;}
.m-list .ic2{background-position: -33px -460px;}
.m-list .ic2:hover{background-position: -33px -480px;}

.m-list li:hover .ti{width: 110px;}
.m-list li:hover .icon{display: block;}

.m-rank .mor{height: 32px;padding-right: 32px;text-align: right;}
.m-rank .mor a{color: #000;line-height: 32px;}
.m-rank .mor a:hover{text-decoration: underline;}
/***************以上是新碟上架样式***************/

/*********************************以上是内容区样式 g-content*********************************/

/*********************************以上是尾部样式 g-footer*********************************/
#g-footer{border-top: 1px solid #d5d5d5;background: #f9f9f9;}
.m-foot{}
.m-foot span,.m-foot a,.m-foot p{color: #999;line-height: 22px;}
.m-foot a:hover{text-decoration: underline;}
.m-foot .plan{float: left;margin: 29px 0 0 22px;padding-left: 53px;width: 247px;height: 46px;background: url(../img/footer.png) no-repeat 0 -50px;}
.m-foot .plan:hover{text-decoration: none;}
.m-foot .plan p{color: #666;line-height: 22px;}

.m-foot .copy{float: left;width: 560px;padding-top: 29px;}
.m-foot .sug{float: left;height: 16px;margin-top: 43px;text-indent: 21px;background: url(../img/footer.png) no-repeat 0 -100px;line-height: 1.1;}
/*********************************以上是尾部样式 g-footer*********************************/

/*********************************以下是尾部样式 g-scroll*********************************/
#g-scroll{position: absolute;width: 49px;height: 44px;background: url(../img/footer.png) no-repeat 0 0;left: 50%;margin-left: 500px;cursor: pointer;display: none;text-indent: -9999px;}
#g-scroll:hover{background-position: -60px 0;}
/*********************************以上是尾部样式 g-scroll*********************************/

/*********************************以下是尾部样式 g-scroll*********************************/
#g-player{}
.bg{height: 53px;position: absolute;background: url(../img/playbar.png) repeat-x;bottom: 0;right:67px;left: 0;z-index: 1;}
.m-play{width: 984px;height: 45px;background: url(../img/player.png) no-repeat;position: absolute;bottom: 0;left: 50%;margin-left: -506px;z-index: 3;}
.lock{height: 61px;width: 67px;background: url(../img/playbar.png) no-repeat 0 -70px;position: absolute;right: 0;bottom: 0;z-index: 2;}
.lock a{width: 18px;height: 18px;background: url(../img/playbar.png) no-repeat -18px -150px;display:block;margin: 0 0 0 15px;}
.lock .lk{background-position: -18px -150px;}
.lock .lk:hover{background-position: -18px -168px;}
.lock .ul{background-position: 0 -150px;}
.lock .ul:hover{background-position: 0 -168px;}
/*********************************以上是尾部样式 g-scroll*********************************/